.main-statistics-top {
  background: -webkit-linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  background: -moz-linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  background: -o-linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  background: -ms-linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  background: linear-gradient(-45deg, #89f7fe 0%, #66a6ff 100%);
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  padding: 20px 0; }
  .main-statistics-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-statistics-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.main-statistics-item-title {
  font-family: 'Arciform';
  margin-right: 10px; }

.main-statistics-item-count {
  border: 1px solid #969696;
  background-color: #ffffff;
  box-shadow: 0px 1px 5.82px 0.18px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 100px;
  text-align: center;
  padding: 6px 2px;
  display: block;
  line-height: 0.9;
  font-family: 'OpenSans';
  color: #000000;
  font-size: 22px;
  font-weight: 400; }

.main-statistics-left {
  margin-left: 0;
  margin-right: auto; }

.main-statistics-right {
  display: flex;
  align-items: center; }
  .main-statistics-right .main-statistics-item {
    margin-right: 10px; }
    .main-statistics-right .main-statistics-item:last-child {
      margin-right: 0; }
