
@font-face {
  font-family: 'ArciformSanscyr-lat-Regular';
  src: url('ArciformSanscyr-lat-Regular.eot?#iefix') format('embedded-opentype'),  url('ArciformSanscyr-lat-Regular.woff') format('woff'), url('ArciformSanscyr-lat-Regular.ttf')  format('truetype'), url('ArciformSanscyr-lat-Regular.svg#ArciformSanscyr-lat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
